@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
heder{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
h1{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolt;
}
ul{
  margin:0 auto;
  list-style-type:none;
  width: 537px;
  padding: 20px ;
}
body {
  width: 960px;
  margin: 0 auto;
  font-family:sans-serif;
}
header {
  padding: 40px 20px;
  text-align: center;
}
header h1 {
  font-weight: 600;
  font-size: 58px;
  margin-bottom: 10px;
  padding: 20px ;
text-align: center;
}
header p {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 40px;
  text-decoration: none;
 
}
.quote-block img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.quote-text {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
.quote-author {
  font-size: 14px;
  margin-top: 10px;
}
.content-block {
  margin-bottom: 50px;
}
.content-block img {
  width: 30%;
  border-radius: 10px;
}
.content-text {
  width: 60%;
  padding-left: 20px;
}
.content_card{
  display: flex;
  padding: 40px 20px;
  text-align: center;
}
img{
  padding:20px ;
  width: 300px;
h2 {
  text-align: left;
  padding: 20px ;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 10px;
}
p {
  text-align: left; 
  font-weight: 300;
  font-size: 2px;
  line-height: 1.6;
}
footer {
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}